/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Import reset.css */
:root {
  font-size: 16px;
  --slide-arrow-contaienr-color: rgba(255, 255, 255, 0.05);
  --slide-arrow-container-hover-color: rgba(255, 255, 255, 0.3);
  --slide-arrow-color: rgba(46, 45, 45, 0.5);
  --slide-arrow-hover-color: rgba(46, 45, 45, 1);
  --light-gray: rgb(163, 160, 160);
  --background: rgb(18 18 18);
}

body {
  background-color: var(--background);
}

.divider {
  width: 100%;
  margin: 60px 0 30px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__title {
  padding: 20px 0;
  font-size: 3rem;
  color: var(--light-gray);
  text-align: center;
}

.container__slideshow {
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  width: 800px;
  height: 600px;
  user-select: none;
}

.slideshow__image {
  display: flex;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: url(assets/images/sloth1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.slideshow__image:hover .slideshow__full-screen {
  opacity: 0.6;
  width: 150px;
  height: 150px;
  transition: 0.5s;
}

.slideshow__arrow {
  display: flex;
  position: absolute;
  height: 55%;
  width: calc(5% + 20px);
  background-color: var(--slide-arrow-contaienr-color);
  align-self: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 5rem;
  color: var(--slide-arrow-color);
}
.slideshow__arrow:hover {
  transition: 0.5s;
  background-color: var(--slide-arrow-container-hover-color);
  color: var(--slide-arrow-hover-color);
}

.arrow--left {
  left: 0;
  border-radius: 0 20px 20px 0;
}

.arrow--right {
  right: 0;
  border-radius: 20px 0 0 20px;
}

.circles_container {
  padding: 10px 0;
  display: flex;
  gap: 5px;
}

.circle {
  width: 13px;
  height: 13px;
  border: 2px solid var(--light-gray);
  border-radius: 50%;
}
.circle--full {
  background-color: var(--light-gray);
}

.thumb_container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.thumb_container__image {
  width: 100px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
}
.thumb_container__image:hover {
  opacity: 0.6;
}

.slideshow__full-screen {
  background-image: url(assets/images/fs_ico.webp);
  background-size: contain;
  cursor: pointer;
  opacity: 0;
  width: 20px;
  height: 20px;
  align-self: center;
  margin: 0 auto;
}