@import "assets/reset.scss"; /* Import reset.css */

:root {
  font-size: 16px;
  --slide-arrow-contaienr-color: rgba(255, 255, 255, 0.05);
  --slide-arrow-container-hover-color: rgba(255, 255, 255, 0.3);
  --slide-arrow-color: rgba(46, 45, 45, 0.5);
  --slide-arrow-hover-color: rgba(46, 45, 45, 1);
  --light-gray: rgb(163, 160, 160);
  --background: rgb(18 18 18);
}

body {
  background-color: var(--background)
}

.divider {
  width: 90vw;
  margin: 60px 0 30px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
}

.container__title {
  padding: 20px 0;
  font-size: 3rem;
  padding: 0 5px;
  color: var(--light-gray);
  text-align:center;
}

.container__slideshow {
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 75%;
  user-select: none;
  padding: 0 5px;
}

.slideshow__image {
  display: flex;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  min-height: 550px;
  min-width: 800px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size:cover;
  &:hover .slideshow__full-screen{
    opacity: 0.6;
    width: 150px;
    height: 150px;
    transition: 0.5s;
  }
}

.slideshow__arrow {
  display:flex;
  position: absolute;
  height: 55%;
  width: calc(5% + 20px);
  background-color: var(--slide-arrow-contaienr-color);
  align-self:center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 5rem;
  color: var(--slide-arrow-color);
  &:hover {
    transition: 0.5s;
    background-color: var(--slide-arrow-container-hover-color);
    color: var(--slide-arrow-hover-color);
  }
}

.arrow--left {
  left: 5px;
  border-radius: 0 20px 20px 0;
}

.arrow--right {
  right: 5px;
  border-radius: 20px 0 0 20px;
}

.circles_container {
  width: 100%;
  min-width: 320px;
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:5px;
}

.circle {
  width:13px;
  height:13px;
  border:2px solid var(--light-gray);
  border-radius:50%;
  &--full {
    background-color:var(--light-gray);
  }
}

.thumb_container {
  width: 100%;
  min-width: 320px;
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.thumb_container__image {
  width:100px;
  height: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.slideshow__full-screen {
  background-image: url(assets/images/fs_ico.webp);
  background-size:contain;
  cursor: pointer;
  opacity:0.0;
  width: 20px;
  height: 20px;
  align-self: center;
  margin: 0 auto;
}

@media only screen and (min-width: 2000px) {
  .container {
    width: 75vw;
    height: 100vh;
  }
}
@media only screen and (max-width: 1500px) {
  .container {
    width: 75vw;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 90vw;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 100vw;
  }
  .slideshow__image {
    min-height: 450px;
    min-width: 600px
  }
}
@media only screen and (max-width: 600px) {
  .slideshow__image {
    min-height: 240px;
    min-width: 100%;
  }
  .container__title {
    font-size: 2rem;
  }
  .divider {
    margin: 30px 0 10px 0;
  }
  .thumb_container__image {
    width: 60px;
    height: 45px;
  }
}